[Unit]
Description=Pushes ip to frcv.net/pi
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/curl --insecure https://frcv.net/pi/?ip=$(hostname -i)"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
